<!DOCTYPE html>
<html lang="sv-SE">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>#{title}</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<header>
		<a href="/">
			<img src="/img/NTI_LifeTech.jpg" alt="NTI LifeTech">
		</a>
		<nav>
			<a href="/">Startsida</a>
			<a href="/realtime">Realtidsdata</a>
			<a href="/about">Om NTI Lifetech</a>
		</nav>
	</header>
	#{content}
</body>
</html>
