<!DOCTYPE html>
<html lang="sv-SE">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{0}</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<meta name="theme-color" content="#4b0082">
</head>
<body>
	<header>
		<section>
			<a href="/">
				<img src="/img/NTI-LifeTech.png" alt="NTI Life Tech">
			</a>
			<nav>
				<a href="/">Startsida</a>
				<a href="/realtid">Realtidsdata</a>
				<a href="/kamera">Kamera</a>
				<a href="/media">Media</a>
			</nav>
		</section>
	</header>
	{1}
</body>
</html>
