<article>
	<a href="https://www.gp.se/nyheter/g%C3%B6teborg/projektet-blev-en-succ%C3%A9-henrik-staaf-f%C3%A5r-l%C3%A4rarpriset-1.24214738" class="article">
		<div class="img img-0"></div>
		<section>
			<h1>Projektet blev en succé – Henrik Staaf får Lärarpriset</h1>
			<h3>Göteborgs Posten - gp.se</h3>
			<p>
				Fysikläraren Henrik Staaf på NTI-gymnasiet prisas av Vetenskapsakademin. Hans projekt med att få eleverna att odla en egen måltid genom omvandling av energi gav honom Lärarpriset.
				– Undervisningen blir väldigt konkret för eleverna och de blir som forskare, säger Henrik Staaf.
			</p>
		</section>
	</a>
	<a href="https://it-hallbarhet.se/klimatsmart-gymnasiearbete-pa-nti-gymnasiet-johanneberg/" class="article">
		<div class="img img-1"></div>
		<section>
			<h1>Klimatsmart gymnasiearbete på NTI Gymnasiet Johanneberg</h1>
			<h3>IT Hållbarhet - it-hallbarhet.se</h3>
			<p>Eleverna på NTI Gymnasiet Johanneberg i Göteborg vill skapa ett slutet system för grön energi och egenproducerad gödning. Målet är att genom systemet kunna odla råvaror till en måltid. Nu har projektet har blivit antaget till den internationella konferensen “2020 Hawaii International Conference on Education”.</p>
		</section>
	</a>
	<a href="https://www.ntigymnasiet.se/nyheter/sjalvforsorjande-vaxthus-pa-nti-johanneberg/" class="article">
		<div class="img img-2"></div>
		<section>
			<h1>Självförsörjande växthus på NTI Johanneberg</h1>
			<h3>NTI Gymnasiet - ntigymnasiet.se</h3>
			<p>Ett självförsörjande växthus ska byggas med målet att tillverka en måltid av grödorna vid terminens slut. Det är fysiklektor Henrik Staafs kommande projekt på NTI Gymnasiet Johanneberg.</p>
		</section>
	</a>
</article>